<div style="display: inline-block;">
    <app-flip-block [value]="hourMostSignificantDigit"></app-flip-block>
    <app-flip-block [value]="hourLeastSignificantDigit"></app-flip-block>
    <app-flip-block-divider></app-flip-block-divider>
    <app-flip-block [value]="minuteMostSignificantDigit"></app-flip-block>
    <app-flip-block [value]="minuteLeastSignificantDigit"></app-flip-block>
    <app-flip-block-divider></app-flip-block-divider>
    <app-flip-block [value]="secondMostSignificantDigit"></app-flip-block>
    <app-flip-block [value]="secondLeastSignificantDigit"></app-flip-block>
</div>