<div class="container-fluid">
    <nz-card nzTitle="Quiz">
        <div nz-row>
            <div nz-col nzSpan="1">
                <button nz-button nzType="primary" *ngIf="currentIndex>0" (click)="setCurrentQuiz(currentIndex-1)">Previous</button>
            </div>
            <div nz-col nzSpan="1"></div>
            <div nz-col nzSpan="14">
                <nz-card>
                    <nz-card-meta nzTitle="{{currentQuiz.subject}}" id="{{currentQuiz._id}}"
                        nzDescription="{{currentQuiz?.text}}"></nz-card-meta>
                    <nz-radio-group [(ngModel)]="currentQuiz.answerProvided"
                        (ngModelChange)="setAnswerValue($event)">
                        <label *ngFor="let ans of currentQuiz.options.option"
                            nz-radio nzValue="{{ans.id}}">{{ans.content}}</label>
                    </nz-radio-group>
                </nz-card>                
            </div>
            <div nz-col nzSpan="1"></div>
            <div nz-col nzSpan="1">
                <button nz-button nzType="primary" *ngIf="currentIndex<(questionList.length-1)" (click)="setCurrentQuiz(currentIndex+1)">Next</button>
                <button nz-button nzType="primary" *ngIf="currentIndex==(questionList.length-1)" (click)="submit()">Submit</button>
            </div>
            <div nz-col nzSpan="6">
                <nz-card nzTitle="Time Remaining">
                    ToDo Flip Date Interval
                </nz-card>
                <nz-card nzTitle="Navigation">
                    <button nz-button nzType="primary" nzShape="circle"
                        (click)="setCurrentQuiz(currIndex)"
                        *ngFor="let question of questionList;let currIndex=index;">{{currIndex+1}}</button>
                </nz-card>                
            </div>
        </div>
    </nz-card>
</div>